
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
  color:black;
}

button:hover{
  cursor: pointer;
}
.todo-container{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}
.todo-wrapper{
  margin-top: 2rem;
  width: 90%;
  height: fit-content;
  background-color: white;
  border-radius: 7px;
  min-width: 250px;
  max-width: 800px;
}
.todo-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.todo-edit-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.todo-title{
  margin: 0.2rem 1rem;
}
.todo-status{
  margin: 0.2rem 1rem;
}
.todo-body{
  margin: 0.2rem 1rem 0.7rem;
  white-space: pre-line;
}
.todo-edit-title{
  margin-top: 0.5rem;
  margin-left:1.5rem;
  width: 80%;
  height: 2rem;
  font-size: 1.5rem;
  outline: none;
}
.todo-edit-body{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
  display: block;
  width: 90%;
  resize:none;
  margin-left: 1.5rem;
  height: 200px;
}
.todo-edit-select{
  margin-top: 0.5rem;
  height: Calc(2rem + 6px);
  outline: none;
  margin-right: 1.5rem;
}
.todo-wrapper button{
  height: 30px;
}
.todo-footer{
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.todo-footer::after{
  content: "";
  width: 90%;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 2.5rem;
  position: absolute;
  pointer-events: none;
  min-width: 250px;
}
#todo-edit-button-wrapper{
  margin-left:10px;
  gap: 10px;
  display: flex;
}
.edit-button{
  z-index: 2;
  margin-left: 0.5rem;
}
.todo-time-wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.todo-time-left{
  margin-right: 0.5rem;
  display: flex;
  z-index: 2;
}
#todo-time-left-color{
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  margin: auto 0.5rem auto 0;
  border:2px solid black;
  border-radius: 50%;
  z-index: 2;
}
.todo-edit-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.color-button{
  margin-left: Calc(0.5rem + 2px);
  margin-top: Calc(0.5rem + 2px);
}
.circle-picker{
  position: relative;
  width: 100% !important;
  margin: 0.5rem;
  justify-content: space-evenly;
  margin-bottom: 0 !important;
}
.controls{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  height:fit-content;
  margin-top: 0.5rem;
}

.controls-select{
  outline:none;
  height: 2rem;
}
.select-wrapper{
  height:100%;
  margin: 0;
}
.controls-flex{
  display: flex;
  width: 100%;
  justify-content: center;
}